.main-slider {
  position: relative;
  max-width: 1600px;
  &__link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%
  }
  &__control {
    transition: .3s;
    z-index: 1;
    @media @tablet-widths, @phone-widths, @small-tablets {
      display: none;
    }
  }
  &__control:hover {
    opacity:.5;
  }
  &__left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 30px;
    fill: #fff;
  }
  &__right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 30px;
    fill: #fff;
  }
  &.swiper-container {
    margin-left: auto;
    margin-right: auto;
  }
  &__img {
    width: 100%;
    max-width: 1600px;
  }
}
