div.main-slider.swiper-container
  div.main-slider__wrap.swiper-wrapper
    div.main-slider__item.swiper-slide
      a.main-slider__link(href="#")
        img.main-slider__img(src="/images/main-slider.jpg", alt="alt")
    div.main-slider__item.swiper-slide
      a.main-slider__link(href="#")
        img.main-slider__img(src="/images/main-slider.jpg", alt="alt")    
  div.main-slider__controls
    div.main-slider__left.main-slider__control
      +use("icon-arrow-left", "66", "66", "main-slider__left-icon")
    div.main-slider__right.main-slider__control
      +use("icon-arrow-right", "66", "66", "main-slider__right-icon")
