div.footer-links
  div.footer-links__item
    h4.footer-links__header information
    ul.footer-links__list
      li.footer-links__list-item
        a.footer-link Careers
      li.footer-links__list-item
        a.footer-link  Investor Relations
      li.footer-links__list-item
        a.footer-link Shop with Points
      li.footer-links__list-item
        a.footer-link Press Releases
  div.footer-links__item
    h4.footer-links__header customer care
    ul.footer-links__list
      li.footer-links__list-item
        a.footer-link Careers
      li.footer-links__list-item
        a.footer-link  Investor Relations
      li.footer-links__list-item
        a.footer-link Shop with Points
      li.footer-links__list-item
        a.footer-link Press Releases
  div.footer-links__item    
    h4.footer-links__header Store Information
    ul.footer-links__list
      li.footer-links__list-item
        a.footer-link address: Lorem ipsum dolor sit amet, Onsectetuer adipiscing elit.
      li.footer-links__list-item
        a.footer-link  email: demo@posthemes.com
      li.footer-links__list-item
        a.footer-link phone: 0987.654.321
