.footer-links {
  display: flex;
  justify-content: space-between;
  &__header {
    font-size: 15px;
    color: #444444;
    text-transform: uppercase;
  }
  &__list {
    .list-unstyled();
  }
  &__list-item {
    font-size: 14px;
    margin-bottom: 12px;
  }
  @media @tablet-widths, @phone-widths {
    flex-direction: column;
    align-items: center;
    &__item {
      text-align: center;
    }
  }
}
