.from-blog {
  position: relative;
  margin-top: 95px;
  .container();
  &::before {
    .decor-before();
  }
  &__items-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
  }
  &__link {
    display: block;
    position: relative;
    max-width: 370px;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__img-text {
    position: absolute;
    text-align: center;
    width: 68px;
    height: 68px;
    left: 0px;
    bottom: 0px;
    color: @text-white;
    text-transform: uppercase;
    background-color: #db3838;
  }
  &__date {
    display: block;
    font-size: 25px;
    padding-top: 13px;
  }
  &__month {
    display: block;
    font-size: 12px;
    min-width: 68px;
  }
  &__header {
    font-size: 15px;
    margin: 32px 0px;;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__text {
    font-size: 15px;
    margin-top: 0;
  }
  @media @tablet-widths, @small-tablets, @phone-widths {
    &__items-wrap {
      justify-content: center;
    }
  }
}
