section.from-blog
  h2.section-header from the blog
  div.from-blog__items-wrap
    div.from-blog__item
      a.from-blog__link(href="#")
        img.from-blog__img(src="/images/blog1.jpg", alt="alt")
        div.from-blog__img-text
          span.from-blog__date 02 
          span.from-blog__month feb
      h3.from-blog__header Curabitur ligulasapien 
      p.from-blog__text Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat eros, quis dignissim dui accumsan id. Cras non imperdiet metus. Sed nec turpis nec.
    div.from-blog__item
      a.from-blog__link(href="#")
        img.from-blog__img(src="/images/blog2.jpg", alt="alt")
        div.from-blog__img-text
          span.from-blog__date 02 
          span.from-blog__month feb
      h3.from-blog__header Curabitur ligulasapien 
      p.from-blog__text Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat eros, quis dignissim dui accumsan id. Cras non imperdiet metus. Sed nec turpis nec.
    div.from-blog__item
      a.from-blog__link(href="#")
        img.from-blog__img(src="/images/blog3.jpg", alt="alt")
        div.from-blog__img-text 
          span.from-blog__date 02 
          span.from-blog__month feb
      h3.from-blog__header Curabitur ligulasapien 
      p.from-blog__text Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat eros, quis dignissim dui accumsan id. Cras non imperdiet metus. Sed nec turpis nec.      
