section.main-footer
  div.main-footer__left
    include footer-logo/footer-logo
  div.main-footer__right
    include footer-form/footer-form
    hr.main-footer__line
    include footer-links/footer-links
  hr.main-footer__line
  div.footer-credentials 
    span.footer-credentials__text © 2015 Psdfreebies. All Rights Reserved
