.main-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 95px;
  .container();
  &__left {
    max-width: 275px;
  }
  &__right {
    margin-left: 50px;;
    flex-grow: 1;
  }
  &__line {
    border: none;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: #d9d9d9;
  }
  @media @tablet-widths, @phone-widths, @small-tablets {
    flex-direction: column;
    &__left {
      max-width: 100%;
      justify-content: center;
    }
    &__right {
      margin-left: 0px;
      max-width: 100%;
      flex-grow: 0;
    }
  }
}
