div.footer-logo
  a.footer-logo__link(href="#")
    img.footer-logo__img(src="/images/logo.png", alt="alt")
  div.footer-logo__text
    p Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat eros, quis dignissim dui accumsan id. Cras non imperdiet metus. Sed nec turpis nec.
