.big-banner {
  max-width: 572px;
  &__link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    position: absolute;
    width: 100%;
    font-size: 45px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: @text-white;
  }
  &__button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 60%;
    width: 215px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    color: @text-white;
    background-color: #db3838;
  }
  @media @tablet-widths, @phone-widths {
    width: 100%;
  }
  @media @phone-widths, @small-tablets, @tablet-widths, (min-width:1025px) and (max-width: 1114px) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  }
}
