section.main-banners
  div.main-banners__top
    div.small-banner
      a.small-banner__link(href="#")
        img.small-banner__img(src="/images/small-banner1.jpg", alt="alt" )
        div.small-banner__text clothes
        div.small-banner__button Click here
    div.small-banner
      a.small-banner__link(href="#")
        img.small-banner__img(src="/images/small-banner2.jpg", alt="alt" )
        div.small-banner__text clothes
        div.small-banner__button Click here
    div.small-banner
      a.small-banner__link(href="#")
        img.small-banner__img(src="/images/small-banner3.jpg", alt="alt" )
        div.small-banner__text clothes
        div.small-banner__button Click here

  section.main-banners__middle
    h2.section-header Men
    div.big-banner
      a.big-banner__link(href="#")
        img.big-banner__img(src="/images/big-banner1.jpg", alt="alt")
        div.big-banner__text for men
        div.big-banner__button More
    div.main-banners__slider.swiper-container
      div.slider__wrap.swiper-wrapper
        div.product.swiper-slide
          a.product__link(href="#")
            img.product__img(src="/images/product1.jpg", alt="alt")
            div.product__sticker.product__sticker-sale Sale!
          div.product__description
            h3.product__header Printed Chiffon Dress
            div.product__price 61.19
            div.product__rating
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-empty", "15", "15", "product__rating-icon")
            div.product__button
              a.product__button-link(href="#") Add to cart
        div.product.swiper-slide
          a.product__link(href="#")
            img.product__img(src="/images/product2.jpg", alt="alt")
            div.product__sticker.product__sticker-new New!
          div.product__description
            h3.product__header Printed Chiffon Dress
            div.product__price 61.19
            div.product__rating
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-empty", "15", "15", "product__rating-icon")
            div.product__button
              a.product__button-link(href="#") Add to cart
        div.product.swiper-slide
          a.product__link(href="#")
            img.product__img(src="/images/product2.jpg", alt="alt")
            div.product__sticker.product__sticker-new New!
          div.product__description
            h3.product__header Printed Chiffon Dress
            div.product__price 61.19
            div.product__rating
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-empty", "15", "15", "product__rating-icon")
            div.product__button
              a.product__button-link(href="#") Add to cart
    div.slider__controls
        div.slider__left.middle-left
          +use("icon-arrow-left", "40", "40", "slider__left-icon")
        div.slider__right.middle-right
          +use("icon-arrow-right", "40", "40", "slider__right-icon")

  section.main-banners__bottom
    h2.section-header Women
    div.main-banners__slider.swiper-container
      div.slider__wrap.swiper-wrapper
        div.product.swiper-slide
          a.product__link(href="#")
            img.product__img(src="/images/product3.jpg", alt="alt")
          div.product__description
            h3.product__header Printed Chiffon Dress
            div.product__price 61.19
            div.product__rating
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-empty", "15", "15", "product__rating-icon")
            div.product__button
              a.product__button-link(href="#") Add to cart
        div.product.swiper-slide
          a.product__link(href="#")
            img.product__img(src="/images/product4.jpg", alt="alt")
          div.product__description
            h3.product__header Printed Chiffon Dress
            div.product__price 61.19
            div.product__rating
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-empty", "15", "15", "product__rating-icon")
            div.product__button
              a.product__button-link(href="#") Add to cart
        div.product.swiper-slide
          a.product__link(href="#")
            img.product__img(src="/images/product4.jpg", alt="alt")
          div.product__description
            h3.product__header Printed Chiffon Dress
            div.product__price 61.19
            div.product__rating
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-full", "15", "15", "product__rating-icon")
              +use("icon-star-empty", "15", "15", "product__rating-icon")
            div.product__button
              a.product__button-link(href="#") Add to cart
    div.slider__controls
        div.slider__left.bottom-left
          +use("icon-arrow-left", "40", "40", "slider__left-icon")
        div.slider__right.bottom-right
          +use("icon-arrow-right", "40", "40", "slider__right-icon")
    div.big-banner
      a.big-banner__link(href="#")
        img.big-banner__img(src="/images/big-banner2.jpg", alt="alt")
        div.big-banner__text for women
        div.big-banner__button More
