.main-banners {
  .container();
  &__top {
    display: flex;
    position: relative;
    @media @tablet-widths, @phone-widths, @small-tablets {
      flex-direction: column;
    }
  }
  &__top::before {
    .decor-before()
  }
  &__middle {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 95px;
    @media @tablet-widths, @phone-widths, @small-tablets, (min-width:1025px) and (max-width: 1114px) {
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
    }
  }
  &__middle .big-banner {
    margin-right: auto;
    @media @phone-widths, @small-tablets, @tablet-widths, (min-width:1025px) and (max-width: 1114px) {
    order: 2;
    }
  }
  &__middle::after {
    .decor-after()
    }
  &__bottom {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 95px;
  }
  &__bottom .big-banner {
    margin-left: auto;
  }
  &__bottom::before {
    .decor-before()
    }
  &__slider {
    flex-grow: 1;
    max-width: 47.86%;
    @media @phone-widths {
      max-width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &__combo {
    position: relative;
    margin-top: 104px;
    .container();
    @media @tablet-widths, @phone-widths {
      overflow-x: hidden;
    }
  }
  &__combo::after {
    .decor-after();
  }
}
