.product {
  position: relative;
  max-width: 272px;
  &__link {
    display: block;
    position: relative;
    width: 100%;
  }
  &__img {
    display: block;
  }
  &__sticker {
    position: absolute;
    top: 8px;
    right: 0px;
    font-size: 12px;
    line-height: 26px;
    padding: 0 15px;
    color: @text-white;
    text-transform: uppercase;

  }
  &__sticker::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 0px;
    border: 12px solid transparent;
  }
  &__sticker-sale {
    background-color: #9cbf3e;
  }
  &__sticker-sale::before {
    border-bottom: 13px solid #9cbf3e;
    border-right: 13px solid #9cbf3e;
    border-top: 13px solid #9cbf3e;
  }
  &__sticker-new {
    background-color: #8869ca;
  }
  &__sticker-new::before {
    border-bottom: 13px solid #8869ca;
    border-right: 13px solid #8869ca;
    border-top: 13px solid #8869ca;
  }
  &__header {
    font-size: 15px;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0;
  }
  &__price {
    padding-left: 10px;
  }
  &__price::before {
    content: "£";
    position: absolute;
    left:0;
  }
  &__rating {
    height: 15px;
    margin-top: 15px;
  }
  &__button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 110px;
    height: 38px;
    color: @text-white;
    text-align: center;
    background-color: #db3838;
  }
  &__button-link {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 38px;
  }
}
