.small-banner {
  position: relative;
  @media @tablet-widths, @phone-widths, @small-tablets {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  &:nth-child(n+2) {
    margin-left: 30px;
    @media @tablet-widths, @phone-widths, @small-tablets {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__img {
    display: block;
    width: 100%;
    max-width: 372px;
  }
  &__text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 95px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    color: @text-white;

  }
  &__button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 160px;
    padding: 13px 30px;
    color: @text-white;
    background-color: #db3838;
  }
}
