.social-links {
  margin-left: 28px;
  @media @tablet-widths, @phone-widths, @small-tablets {
  margin: 10px 0px;
  }
  @media @desktop-small-widths {
    margin-left: 10px;
  }
  &__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #434343;
    border-radius: 50%;
  }
  &__item:nth-child(n+2) {
    margin-left: 13px;
  }
  &__img {
    position: relative;
    left: 6px;
    top: 6px;
  }
}
