div.page-header__social-links.social-links
  a.social-links__item(href="#")
    +use("icon-facebook","25","25", "social-links__img")
  a.social-links__twitter.social-links__item(href="#")
    +use("icon-twitter","25","25", "social-links__img") 
  a.social-links__instagram.social-links__item(href="#")
    +use("icon-instagram","25","25", "social-links__img") 
  a.social-links__youtube.social-links__item(href="#") 
    +use("icon-youtube","25","25", "social-links__img")
