div.topline
  div.topline__wrap
    div.topline__item
      span.topline__text.topline__img-cart Free shipping ON all order
    div.topline__item
      span.topline__text.topline__img-dollar 100% MONEY BACK GUARANTEE
    div.topline__item
      span.topline__text.topline__img-clock ONLINE SUPPORT 24/7
