.topline {
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  @media @tablet-widths, @phone-widths {
    height: auto;
  }
  &__wrap {
    .container();
    @media  @small-tablets {
      display: none;
    }
  }
  &__wrap::after {
    content: "";
    display: table;
    clear: both;
  }
  &__item {
    position: relative;
    display: inline-block;
    float: left;
    width: 33%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 45px;
    &:nth-child(2n) {
      border-left: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
    }
  }
  &__text {
    display: inline-block;
    position: relative;
    padding-left: 25px;
  }
  &__img-cart::before {
    content: "";
    position: absolute;
    background-image: url(/images/sprite.png);
    background-position: -81px 0px;
    width: 22px;
    height: 17px;
    left: 0px;
    top: 14px;
  }
  &__img-dollar::before {
    content: "";
    position: absolute;
    background-image: url(/images/sprite.png);
    background-position: -39px 0px;
    width: 22px;
    height: 17px;
    left: 0px;
    top: 15px;
  }
  &__img-clock::before {
    content: "";
    position: absolute;
    background-image: url(/images/sprite.png);
    background-position: 0px -39px;
    width: 22px;
    height: 19px;
    left: 0px;
    top: 15px;
  }
}
