.footer-form {
  display: flex;
  align-items: center;
  position: relative;
  max-height: 59px;
  &__label {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #444444;
    text-transform: uppercase;
  }
  &__input {
    width: 453px;
    height: 59px;
    background-color: #e8e8e8;
    border: none;
    padding-left: 10px;
  }
  &__button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    color: @text-white;
    background-color: #db3838;
  }
  @media @tablet-widths, @phone-widths {
    flex-direction: column;
    max-height: none;
    &__input {
      width: 100%;
      margin-top: 10px;
    }
  }
}
