div.footer-form
  label.footer-form__label(for="subscribe") Sign up for our Newsletter !
  input.footer-form__input(type="e-mail" placeholder="hello@psdfreebies.com" id="subscribe")
  div.footer-form__button Submit
