body {
  font-size: 16px;
}
h2 {
  font-size: 30px;
  font-weight: normal;
  color: @text-blue;
  padding-left: 24px;
}
p {
  font-size: 16px;
  color: @text-black;
  line-height: 1.67;
}
a, a:active {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 18px;
  color: @text-black;
  font-weight: normal;
  }
