// Normalize Styles
@import (inline) 'node_modules/normalize.css/normalize.css';
// Import Modules
@import './mixins';
@import './variables';
@import './fonts';
@import './sprite';
@import '../_modules/header/header';
@import '../_modules/main/main';
@import '../_modules/footer/footer';
// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
