.container() {
  margin-left: auto;
  margin-right: auto;
    @media @tablet-widths {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    @media @desktop-widths {
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
.list-unstyled() {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.decor-after() {
  content: "";
  position: absolute;
  height: 100%;
  width: 500px;
  top: 0;
  right: -520px;
  background-color: #ebebeb;
}
.decor-before() {
  content: "";
  position: absolute;
  height: 100%;
  width: 500px;
  top:0;
  left: -520px;
  background-color: #ebebeb;
}
