/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@cart-name: 'cart';
@cart-x: 73px;
@cart-y: 0px;
@cart-offset-x: -73px;
@cart-offset-y: 0px;
@cart-width: 28px;
@cart-height: 24px;
@cart-total-width: 136px;
@cart-total-height: 98px;
@cart-image: 'sprite.png';
@cart: 73px 0px -73px 0px 28px 24px 136px 98px 'sprite.png' 'cart';
@compare-name: 'compare';
@compare-x: 80px;
@compare-y: 73px;
@compare-offset-x: -80px;
@compare-offset-y: -73px;
@compare-width: 19px;
@compare-height: 12px;
@compare-total-width: 136px;
@compare-total-height: 98px;
@compare-image: 'sprite.png';
@compare: 80px 73px -80px -73px 19px 12px 136px 98px 'sprite.png' 'compare';
@product-cart-name: 'product-cart';
@product-cart-x: 43px;
@product-cart-y: 73px;
@product-cart-offset-x: -43px;
@product-cart-offset-y: -73px;
@product-cart-width: 17px;
@product-cart-height: 15px;
@product-cart-total-width: 136px;
@product-cart-total-height: 98px;
@product-cart-image: 'sprite.png';
@product-cart: 43px 73px -43px -73px 17px 15px 136px 98px 'sprite.png' 'product-cart';
@product-wishlist-name: 'product-wishlist';
@product-wishlist-x: 121px;
@product-wishlist-y: 0px;
@product-wishlist-offset-x: -121px;
@product-wishlist-offset-y: 0px;
@product-wishlist-width: 15px;
@product-wishlist-height: 17px;
@product-wishlist-total-width: 136px;
@product-wishlist-total-height: 98px;
@product-wishlist-image: 'sprite.png';
@product-wishlist: 121px 0px -121px 0px 15px 17px 136px 98px 'sprite.png' 'product-wishlist';
@search-icon-name: 'search_icon';
@search-icon-x: 0px;
@search-icon-y: 0px;
@search-icon-offset-x: 0px;
@search-icon-offset-y: 0px;
@search-icon-width: 53px;
@search-icon-height: 53px;
@search-icon-total-width: 136px;
@search-icon-total-height: 98px;
@search-icon-image: 'sprite.png';
@search-icon: 0px 0px 0px 0px 53px 53px 136px 98px 'sprite.png' 'search_icon';
@wishlist-name: 'wishlist';
@wishlist-x: 0px;
@wishlist-y: 73px;
@wishlist-offset-x: 0px;
@wishlist-offset-y: -73px;
@wishlist-width: 23px;
@wishlist-height: 25px;
@wishlist-total-width: 136px;
@wishlist-total-height: 98px;
@wishlist-image: 'sprite.png';
@wishlist: 0px 73px 0px -73px 23px 25px 136px 98px 'sprite.png' 'wishlist';
@spritesheet-width: 136px;
@spritesheet-height: 98px;
@spritesheet-image: 'sprite.png';
@spritesheet-sprites: @cart @compare @product-cart @product-wishlist @search-icon @wishlist;
@spritesheet: 136px 98px 'sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
