@tablet-widths: ~'only screen and (min-width: 768px) and (max-width: 1023px)';
@small-tablets: ~'only screen and (min-width: 481px) and (max-width: 767px)';
@phone-widths: ~'(max-width: 480px)';
@desktop-widths: ~'(min-width: 1200px)';
@desktop-small-widths: ~'only screen and (min-width: 1024px) and (max-width: 1199px)';
@nav-line-height: 2;
@text-black: #343434;
@text-white: #fff;
@text-blue: #05aecc;
@text-red: #f0626e;
@text-grey: #434343;
@background-black: #000;
@background-blue: #05aecc;
@background-red: #f0626e;
