section.main-banners__combo.combo
  div.combo__links
    span.combo__link New arrivals
    span.combo__link Best Sellers  
    span.combo__link Popular 
  div.combo__slider.swiper-container
    div.combo-slider__wrap.swiper-wrapper
      div.product.swiper-slide
        a.product__link(href="#") 
          img.product__img(src="/images/product5.jpg", alt="alt")
        div.product__description 
          h3.product__header Printed Chiffon Dress
          div.product__price 61.19
          div.product__rating
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-empty", "15", "15", "product__rating-icon")
          div.product__button 
            a.product__button-link(href="#") Add to cart
      div.product.swiper-slide
        a.product__link(href="#") 
          img.product__img(src="/images/product6.jpg", alt="alt")
        div.product__description 
          h3.product__header Printed Chiffon Dress
          div.product__price 61.19
          div.product__rating
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-empty", "15", "15", "product__rating-icon")
          div.product__button 
            a.product__button-link(href="#") Add to cart
      div.product.swiper-slide
        a.product__link(href="#") 
          img.product__img(src="/images/product7.jpg", alt="alt")
        div.product__description 
          h3.product__header Printed Chiffon Dress
          div.product__price 61.19
          div.product__rating
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-empty", "15", "15", "product__rating-icon")
          div.product__button 
            a.product__button-link(href="#") Add to cart
      div.product.swiper-slide
        a.product__link(href="#") 
          img.product__img(src="/images/product8.jpg", alt="alt")
        div.product__description 
          h3.product__header Printed Chiffon Dress
          div.product__price 61.19
          div.product__rating    
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-empty", "15", "15", "product__rating-icon")          
          div.product__button 
            a.product__button-link(href="#") Add to cart
      div.product.swiper-slide
        a.product__link(href="#") 
          img.product__img(src="/images/product4.jpg", alt="alt")
        div.product__description 
          h3.product__header Printed Chiffon Dress
          div.product__price 61.19
          div.product__rating
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-empty", "15", "15", "product__rating-icon")
          div.product__button 
            a.product__button-link(href="#") Add to cart
      div.product.swiper-slide
        a.product__link(href="#") 
          img.product__img(src="/images/product5.jpg", alt="alt")
        div.product__description 
          h3.product__header Printed Chiffon Dress
          div.product__price 61.19
          div.product__rating
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-empty", "15", "15", "product__rating-icon")
          div.product__button 
            a.product__button-link(href="#") Add to cart
      div.product.swiper-slide
        a.product__link(href="#") 
          img.product__img(src="/images/product6.jpg", alt="alt")
        div.product__description 
          h3.product__header Printed Chiffon Dress
          div.product__price 61.19
          div.product__rating
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-empty", "15", "15", "product__rating-icon")
          div.product__button 
            a.product__button-link(href="#") Add to cart
      div.product.swiper-slide
        a.product__link(href="#") 
          img.product__img(src="/images/product7.jpg", alt="alt")
        div.product__description 
          h3.product__header Printed Chiffon Dress
          div.product__price 61.19
          div.product__rating
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-full", "15", "15", "product__rating-icon")
            +use("icon-star-empty", "15", "15", "product__rating-icon")              
          div.product__button 
            a.product__button-link(href="#") Add to cart
  div.slider__controls
    div.slider__left.combo-left
      +use("icon-arrow-left", "40", "40", "slider__left-icon")
    div.slider__right.combo-right
      +use("icon-arrow-right", "40", "40", "slider__right-icon")
