.combo {
  position: relative;
  &__links {
    display: flex;
    @media (max-width: 850px) {
      flex-direction: column;
    }
  }
  &__link {
    display: block;
    position: relative;
    min-width: 250px;
    max-width: 315px;
    font-size: 25px;
    color: #444444;
    padding-left: 0px;
    margin-bottom: 25px;
    text-transform: uppercase;
    cursor: pointer;
    &:nth-child(n+2) {
      margin-left: 25px;
      @media (max-width: 850px) {
        margin-left: 0;
      }
    }
    @media  @desktop-widths {
      margin-bottom: 50px;
      }
    &::before {
      content: "";
      position: absolute;
      width: 60%;
      height: 2px;
      top: 40px;
      left: 0px;
      background-color: #808080;
      @media @desktop-widths {
        width: 100%;
      }
    }
  }
}
