nav.quick-links
  div.quick-links__header Go quickly to
  ul.quick-links__items
    li.quick-links__item  
      a.quick-links__link(href="#") Women
    li.quick-links__item 
      a.quick-links__link(href="#") Men
    li.quick-links__item 
      a.quick-links__link(href="#") Accessories
    li.quick-links__item 
      a.quick-links__link(href="#") Fashion
    li.quick-links__item 
      a.quick-links__link(href="#") Features
    li.quick-links__item 
      a.quick-links__link(href="#") Clothings
    li.quick-links__item 
      a.quick-links__link(href="#") Bags and Wallets
    li.quick-links__item 
      a.quick-links__link(href="#") Fragrances
    li.quick-links__item 
      a.quick-links__link(href="#") Caps & Hats
