.quick-links {
  position: relative;
  .container();
  height: 133px;
  @media @phone-widths, @desktop-small-widths, @tablet-widths, @small-tablets {
    display: none;
  }
  &__header {
    display: inline-block;
    position: relative;
    line-height: 133px;
    padding: 0 15px;
  }
  &__header::after {
    content: "";
    position: absolute;
    background-image: url("/images/sprite.png");
    background-position: 0 -111px;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translate(0, -38%);
    right: -10px;
  }
  &__items {
    .list-unstyled();
    display: inline-block;
  }
  &__item {
    display: inline-block;
    position: relative;
    padding: 0 15px;
  }
  &__item:nth-child(n+2)::before {
    content: ":";
    position: absolute;
    left: 0;
  }
}
