header.page-header
  include topline/topline
  div.page-header__content
    div.page-header__icon
      span
      span
      span
    div.page-header__logo
      a.page-header__logo-link(href="#")
        img.page-header__logo-img(src="/images/logo.png", width='153px' alt="APPBIES")
    include search/search
    include social-links/social-links
  include main-nav/main-nav

        
            
