.page-header {
  &__icon {
    width: 36px;
    height: 45px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  &__icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: @text-black;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  &__icon span:nth-child(1) {
    top: 0px;
  }
  &__icon span:nth-child(2) {
    top: 12px;
  }
  &__icon span:nth-child(3) {
    top: 24px;
  }
  &__icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  &__icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  &__icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  &__content {
    .container();
    @media @tablet-widths, @phone-widths, @small-tablets {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__icon {
      display: none;
      @media @tablet-widths, @phone-widths, @small-tablets {
        display: block;
        position: absolute;
        top: 40px;
        left: 10px;
      }
  }
  &__logo {
    position: relative;
    top: 10px;
    left: 0;
    transform: none;
    display: inline-block;
    vertical-align: middle;
    padding: 27px 38px;
    background-color: #fff;
  }
  &__logo-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__logo-img {
    display: block;
    }
  &__search {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    }
  &__social-links {
    display: inline-block;
    vertical-align: middle;
    }
  @media @phone-widths {
    &__logo {
      padding: 27px 10px;
      }
    }
}
