@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham-book-webfont.woff2') format('woff2'),
       url('/fonts/gotham-book-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham-bold-webfont.woff2') format('woff2'),
       url('/fonts/gotham-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham-medium-webfont.woff2') format('woff2'),
       url('/fonts/gotham-medium-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Gotham', Fallback, sans-serif;
}
@import "./main-slider/main-slider";
@import "./main-banners/small-banner";
@import "./quick-links/quick-links";
@import "./main-banners/main-banners";
@import "./section-header";
@import "./main-banners/big-banner";
@import "./main-banners/product";
@import "./main-banners/slider";
@import "./combo/combo";
@import "./from-blog/from-blog";
@import "./swiper";



.index-content {
  position: relative;
  overflow-x: hidden;
}
