.section-header {
  position: relative;
  width: 100%;
  font-size: 25px;
  color: #444444;
  padding-left: 0px;
  margin-bottom: 50px;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    width: 370px;
    height: 2px;
    top: 40px;
    left: 0px;
    background-color: #808080;
    @media @tablet-widths, @phone-widths {
      width: 60%;
    }
  }
}
