.main-nav {
  background-color: #000;
  z-index: 10;
  @media @tablet-widths, @phone-widths, @small-tablets {
    position: absolute;
    top:110px;
    width: 100%;
    overflow: hidden;
    transform: translateY(-150%);
    transition: .4s linear;
  }
  &--opened {
    transform: translateY(0%);
  }
  &__content {
    .container();
  }
  &__links {
    .list-unstyled();
    display: inline-block;
    @media @tablet-widths, @phone-widths, @small-tablets {
      width: 100%;
    }
  }
  &__item {
    display: inline-block;
    position: relative;
    height: 100%;
    overflow: hidden;
    @media @tablet-widths, @phone-widths, @small-tablets {
      display: block;
    }
  }
  &__item::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    background-color: #db3838;
    transform: translate(-110%);
    transition: .2s linear;
    @media @tablet-widths, @phone-widths, @small-tablets {
        display: none;
    }
  }

  &__item:hover::after {
    transform: translate(0%);
  }
  &__item--active::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    background-color: #db3838;
    transform: translate(0%);
  }
  &__item:hover &__link {
    opacity: .7;
  }
  &__link {
    display: block;
    height: 100%;
    padding: 0 20px;
    color: @text-white;
    font-size: 15px;
    line-height: 70px;
    text-transform: uppercase;
    transition: .3s;
  }
  &__cart {
    display: inline-block;
    float: right;
    position: relative;
    background-color: #db3838;
    z-index: 1;
    @media @tablet-widths, @phone-widths, @small-tablets {
      float: left;
    }
  }
  &__cart-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__cart-text {
    color: @text-white;
    line-height: 70px;
    margin-left: 59px;
    margin-right: 27px;
  }
  &__cart-text::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 30px;
    background-image: url("/images/sprite.png");
    background-position: -38px -39px;
    width: 19px;
    height: 17px;
  }
}
