nav.main-nav
  div.main-nav__content
    ul.main-nav__links
      li.main-nav__item.main-nav__item--active
        a.main-nav__link(href="#") Home                       
      li.main-nav__item
        a.main-nav__link(href="#") Shop  
      li.main-nav__item
        a.main-nav__link(href="#") Features
      li.main-nav__item
        a.main-nav__link(href="#") mega group
      li.main-nav__item
        a.main-nav__link(href="#") About
      li.main-nav__item
        a.main-nav__link(href="#") Blog
      li.main-nav__item
        a.main-nav__link(href="#") Contact 
    div.main-nav__cart
      a.main-nav__cart-link(href="#")
        div.main-nav__cart-text Shopping Cart (0)
