.search {
    width: 51%;
    margin-left: 8.4%;
    @media @tablet-widths, @phone-widths, @small-tablets {
    width: 100%;
    margin-left: 0;
    }
    @media @desktop-small-widths {
      margin-left: 2%;
    }
    &__input {
      height: 54px;
      width: 100%;
      padding-left: 15px;
    }
    &__select {
      position: absolute;
      top:0px;
      right: 80px;
      @media @small-tablets, @phone-widths {
      display: none;
      }
    }
    &__button {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 70px;
      height: 54px;
      background-color: #db3838;
      cursor: pointer;
    }
    &__button::before {
      content: "";
      position: absolute;
      background-image: url("/images/sprite.png");
      background-position: 0px 0px;
      width: 19px;
      height: 19px;
      left: 26px;
      top: 18px;
    }
  }
