div.page-header__search.search
  input.search__input(type="text" placeholder="Search")
  div.search__select.select
    div.select__toggler
      div.select__value
        span.select__item All Categories
    div.select__dropdown
      div.select__item All Categories
      div.select__item All Categories
  div.search__button
