.select {
  width: 200px;
  height: 54px;
  cursor:pointer;
  &__toggler {
    height: 100%;
  }
  &__value {
    height: 100%;
    line-height: 54px;
  }
  &__toggler::before {
    content: "";
    position: absolute;
    background-image: url(/images/sprite.png);
    background-position: -34px -111px;
    width: 16px;
    height: 11px;
    right: 20px;
    top: 22px;
  }
  &__dropdown {
    display: none;
  }
}
